@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.grid-cols-auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
}

.netlify-button {
  min-width: 5rem;
  @apply px-2 py-1 rounded inline-block bg-gray-200 text-center cursor-pointer shadow transition-all duration-200 hover:bg-teal-100;
}

.tag {
  @apply bg-gray-200 px-2 py-1 rounded shadow m-1;
}

td {
  vertical-align: top;

  @apply px-6 py-4;
}

tr {
  @apply odd:bg-white even:bg-gray-50;
}
